<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create New Message</title>
  </head>
  <body>
    <h1>Create new message</h1>

    <form action="create" method="POST">
      <label for="title">Title: </label>
      <input name="title" id="title" placeholder="Title" type="text" />

      <label for="message">Message: </label>
      <input
        name="message"
        id="message"
        placeholder="Enter message here"
        type="text"
      />
      <input type="submit" />
    </form>
  </body>
</html>
