<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Storyboard</title>
  </head>
  <body>
    <h1>The Storyboard</h1>
    <% if (locals.user) {%>
        <h2>Welcome back <%= user.firstName %></h2>
        <a href="/create">Create new message</a>
        <% if (locals.user.status === "anon") { %>
            <a href="/join-the-club">Join the club!</a>
        <% } %>
        <a href="/log-out">Log out</a>
    <% } else { %>
        <a href="/login">Log in</a>
        <a href="/sign-up">Sign-up here!</a>
    <% } %>

    <ul>
      <% for (let i = 0; i < messages.length; i++) { %>
          <div>
            <h3><%= messages[i].title %></h3>
            <p><%= messages[i].timestamp %></p>
            <p><%= messages[i].message %></p>
          </div>
      <% } %>
    </ul>
  </body>
</html>
