<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Join the club</title>
  </head>
  <body>
    <h1>Join the club</h1>
    <p>You can be a part of the club - just enter the secret password!</p>
    <form action="/join-the-club" method="POST">
      <label for="secret">Secret password: </label>
      <input id="secret" name="secret" type="text" />
      <input type="submit" />
    </form>
  </body>
</html>
