<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Storyboard - Sign-up</title>
  </head>
  <body>
    <h1>Sign-up here!</h1>
    <%- include("partials/errors.ejs") %>
    <form action="sign-up" method="POST">
      <label for="firstName">First Name: </label>
      <input
        id="firstName"
        name="firstName"
        type="text"
        placeholder="First Name"
        value="<%= values.firstName %>""
      />
      <label for="lastName">Last Name: </label>
      <input
        id="lastName"
        name="lastName"
        type="text"
        placeholder="Last Name"
        value="<%= values.lastName %>""
      />
      <label for="username">Username (email): </label>
      <input id="username" name="username" type="email" placeholder="Email" value="<%= values.username %>"" />
      <label for="password">Password: </label>
      <input
        id="password"
        name="password"
        type="password"
        placeholder="Password"
      />
      <button type="submit">Sign Up</button>
    </form>
  </body>
</html>
