@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter.ttf);
}

h2, h3 {
  font-size: 16px;
}

body {
  padding: 0.2em 300px 0.2em 300px;
  min-height: 100vh;
  background-color: #edf6f9;
  font-family: Inter, serif;
  color: #343a40;
  font-size: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.userButtonContainer {
  align-content: center;
}

.btn {
  text-decoration: none;
  padding: 10px 14px 10px 14px;
  background-color: #669bbc;
  border-radius: 6px;
  font-weight: bold;
  color: white;
  border-style: none;
}

.btn:visited {
  color: white;
}

.profileDiv {
  display: flex;
  align-items: center;
  padding: 20px;
}

.userInfoDiv {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}

.welcomeDiv, .statusDiv {
  margin: 0px;
}

.welcomeDiv {
  margin-bottom: 4px;
}

.classDiv {
  align-self: flex-start;
}

.createMessage {
  padding: 20px;
}

ul {
  padding: 0px;
  margin: 0px;
}

p > input {
  border-radius: 10px;
  border-color: #b3b6b7;
}

p > textarea {
  resize: none;
  width: 100%;
  border-radius: 10px;
  border-color: #b3b6b7;
}

.createMessage,
.profileDiv,
.messageDiv,
.loginForm {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
  margin: 10px 0px 30px 0px;
}

.messageDiv {
  padding: 10px 20px 10px 20px;
}
