@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter.ttf);
}

h2,
h3 {
  font-size: 16px;
}

body {
  padding: 0.2em 300px 0.2em 300px;
  min-height: 100vh;
  background-color: #edf6f9;
  font-family: Inter, serif;
  color: #343a40;
  font-size: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.userButtonContainer {
  align-content: center;
}

.btn {
  text-decoration: none;
  padding: 10px 14px 10px 14px;
  background-color: #669bbc;
  border-radius: 6px;
  font-weight: bold;
  color: white;
  border-style: none;
}

.btn:visited {
  color: white;
}

.profileDiv {
  display: flex;
  align-items: center;
  padding: 20px;
}

.userInfoDiv {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}

.welcomeDiv,
.statusDiv {
  margin: 0px;
}

.welcomeDiv {
  margin-bottom: 4px;
}

.classDiv {
  align-self: flex-start;
}

.createMessage {
  padding: 20px;
}

ul {
  padding: 0px;
  margin: 0px;
}

.enterMessage {
  display: flex;
  flex-direction: column;
}

p > textarea {
  resize: none;
}

.createMessage,
.profileDiv,
.messageDiv,
.loginForm,
.signupForm {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
  margin: 10px 0px 30px 0px;
}

.messageDiv {
  padding: 10px 20px 10px 20px;
}

.sign-up-header,
.log-in-header {
  text-align: center;
  margin-bottom: 0px;
}

.sign-up-subheader {
  display: flex;
  justify-content: center;
}

.sign-up-subheader > a {
  align-content: center;
  padding-left: 6px;
}

.signupForm,
.loginForm {
  padding: 30px;
}

.signupForm > p,
.loginForm > p {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  margin-bottom: 24px;
}

.signupForm > p > label,
.loginForm > p > label {
  margin-bottom: 10px;
}

input, textarea {
  border-color: #e9ecef;
  border-width: 2px;
  border-radius: 5px;
  border-style: solid;
  padding: 10px;
}

.signupForm > .btn,
.loginForm > .btn {
  width: 100%;
}

.btn {
  transition: background-color 0.2s ease-out;
}

.btn:hover {
  background-color: #004e98;
}
